/*CSS Reset*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  border: 1px solid grey;
}

header {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header h1 {
  margin: 0 2%;
}

nav {
  margin: 0 4%;
  height: 40px;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-section {
  height: 500px;
  display: flex;
}

.main-section img,
.main-section div {
  margin: 2%;
}

.projects {
  display: flex;
  flex-flow: row wrap;
}

.projects div {
  width: 15%;
  margin: 2% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects div h5 {
  text-align: center;
}

footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer h2 {
  text-align: center;
}

footer button {
  margin: 0 40%;
  padding: 1%;
}
